.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('img/principal.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1, .titulo{
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
  background-color:#efefef;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
  color:#393c3d;
  font-size: 24px;
}

.neighborhood-guides p{
  font-size: 15px;
  margin-bottom: 13px;
}

.menu{
  margin-top: 6em;

}


.img_magic{
  padding: 10px;
}

.texto-margen {
  margin-left:20px;
}

.img_peq{
  border: 1px solid #009ae0;
}

.fondo_quienes{
  background-color: #009ae0;
  text-shadow: 0 1px 8px;
}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.detalles {
  background: #efefef;
}

.detalles .list-group-item {
  background: #efefef;
}

.cotizar-btn {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

h3.principal {
  text-shadow: 0 1px 8px #777;
    background-color: #009BDD;
    padding: 5px;
    color: #fff;
    box-shadow: #ccc 0 3px 10px;
    font-family: 'Shift', sans-serif;
}

.listado h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.listado .descripcion {
  text-overflow: ellipsis;
  height: 120px;
  overflow: hidden;
}

.contenido-texto {



}