.header {
	padding: 20px;
	background: #ececec;
}

.ejemplo {
	background: #ccc;
}

.productos {
	background: #efefef;
}

.center-check {
	text-align: center;
}

.table-bordered td {
	min-height: 67px;
}